html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #343338;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-weight: 300;
}

footer h2
{
    font-size: medium;
}

a:link, a:visited, a:active {
    color: #f55e3b;
}

a:hover {
    color: #aa2000;
}

.filter {
    width: 100%;
    position: fixed;
    top: 0px;
}

input[type=text] {
    font-size: medium;
    background: #3d3d3d;
    color: white;
}

.age-filter {
    background: #343338;
    min-height: 52px;
    border-bottom: 1px solid #606060;
    box-shadow: inset 1px -1px 1px #202020, 0px 4px 10px #222;
}

.age-filter-elderly-icon {
    background: url("/img/sprite-sheet.png") 30px 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    z-index: 10;
    margin-top: 19px;
}

.age-filter-baby-icon {
    background: url("/img/sprite-sheet.png") 0 0;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    z-index: 10;
    margin-top: 19px;
}

.footer div {
    text-align: justify;
}

.container {
    width: 100%;
    min-height: 1000px;
}

.margin-10 {
    margin: 10px;
}

.footer-post textarea {
    width: 100%;
    min-height: 26px;
    padding: 8px;
    font-size: medium;
    border: none;
    border-top: 1px solid #606060;
    box-shadow: inset 1px 1px 1px #202020, 0px -4px 10px #222;
    background: #3d3d3d;
    color: white;
}

.footer-post {
    width: 100%;
    background: #333237;
    position: fixed;
    bottom: 0px;
    text-align: center;
    border-bottom: 1px solid #606060;
}

.footer-post button {
    position: absolute;
    right: 4px;
    bottom: 8px;
    width: 75px;
    color: white;
    text-align: center;
    height: 32px;
    background: #f55e3b;
    background-position: center;
    border: 1px solid #cb3816;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
}

.footer-post button:hover {
    background: #aa2000;
}

.content {
    border-top: 2px solid #232227;
    position: absolute;
    background: black;
    width: 100%;
    z-index: -200;
}

.story {
    display: inline-block;
    margin: 1% 0 0 1%;
    background: #202020;
    border-radius: 5px;
    word-wrap: break-word;
}

.header {
    width: 100%;
    height: 90px;
    z-index: -1;
    background: url("/img/header/small.png") no-repeat #343338;
    background-position: center top 0px;
    border-bottom: 1px solid #606060;
    box-shadow: inset 1px -1px 1px #202020;
}

@media only screen and (min-width: 1px) {
    .story {
        width: 98%;
    }

    .header {
        height: 92px;
        background: url("/img/header/small.png") no-repeat #343338;
        background-position: center top;
    }
}

@media only screen and (min-width: 500px) {
    .story {
        width: 98%;
    }

    .header {
        height: 144px;
        background: url("/img/header/med.png") no-repeat #343338;
        background-position: center top;
    }
}

@media only screen and (min-width: 640px) {
    .story {
        width: 48.5%;
    }

    .story-featured {
        width: 98%;
    }

    .header {
        height: 184px;
        background: url("/img/header/med-large.png") no-repeat #343338;
        background-position: center top 0px;
    }
}

@media only screen and (min-width: 900px) {
    .story {
        width: 32%;
    }

    .story-featured {
        width: 65%;
    }

   .header {
        height: 259px;
        background: url("/img/header/large.png") no-repeat #343338;
        background-position: center top 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .story {
        width: 23.75%;
    }

    .story-featured {
        width: 48.5%;
    }
}

.story-featured {
    border: 2px solid #dd0000;
    border-radius: 5px;
}

.story-advert {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}

.story-text {
    padding: 10px;
    font-size: medium;
    color: #999;
}


.story-title {
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    font-size: small;
    padding: 10px;
    color: #999;
    float: right;
}

.story-featured .story-text {
    color: #000;
}

.story-featured .story-title {
    border-bottom: 1px solid transparent;
    color: #dd0000;
}

.story-advert .story-text {
    color: #c5c5c5;
}

.story-advert .story-title {
    color: #c5c5c5;
}

.story-tags {
    padding: 10px;
}

.tag {
    margin-top: 5px;
    margin-right: 5px;
}

button.tag {
    border: 0px;
}

.filter-toggle {
    position:absolute;
    color: #f55e3b;
    border: 1px solid #606060;
    border-top: 3px solid #343338;
    box-shadow: inset 1px -1px 1px #202020, 0px 4px 10px #222;
    border-radius: 0 0 10px 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #343338;
    left:0;
    right:0;
    margin: auto;
    margin-top: -2px;
}

.filter-toggle:hover {
    color: #aa2000;
}


.footer {
    background: #343338;
    font-size: medium;
    padding: 10px;
    text-align: center;
    color: #999;
    clear: both;
    padding-bottom: 50px;
    line-height: 25px;
    border-top: 1px solid #606060;
    box-shadow: inset 1px 1px 1px #202020;
    min-height: 40px;
    padding-bottom: 50px;
}

.footer div {
    max-width: 900px;
    margin: auto;
}

.footer div h2 {
    font-size: x-large;
    text-align: center;
    color: rgba(0,0,0, 0.8);
    text-shadow: 1px 1px 1px #343338, 0 0 0 #000, 1px 1px 1px #606060;
}

.footer div h3 {
    font-size: large;
    text-align: left;
    border-bottom: 1px solid #999;
    box-shadow: 0 1px 0px #202020;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

ul.footer-tabs {
    margin-bottom: 2px;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul.footer-tabs li {
    margin-left: -2px;
    display: inline-block;
    color: #f55e3b;
    border: 1px solid #606060;
    border-bottom: 1px solid #343338;
    box-shadow: inset 1px 1px 1px #202020, 0px -4px 10px #222;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    height: 10px;
    text-align: center;
    background: #343338;
    vertical-align: bottom;
}

ul.footer-tabs li.selected {
    margin-left: -2px;
    display: inline;
    color: #999;
    border: 1px solid #606060;
    border-bottom: 3px solid #343338;
    box-shadow: inset 1px 1px 1px #202020, 0px -4px 10px #222;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    text-align: center;
    line-height: 30px;
    background: #343338;
}

ul.footer-tabs li.selected:hover {
    color: #999;
}

ul.footer-tabs li:hover {
    color: #aa2000;
}

#footer-copy {
    text-align: center;
    font-size: small;
}

p.center {
    text-align: center;
}